.body{
    //padding: 150px 0px;
    background-image: url("../../../assets/books.jpg");
    min-width: 100%;
    min-height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    width :100%;
    margin:0px;
}