<body class="body" >
  <div class="login-card" >
    <mat-card>
        <mat-card-header>
          <mat-card-title>Enter to your account</mat-card-title>
        </mat-card-header>
      <mat-card-content>
    <form [formGroup]="loginForm"  class="login-form">
      <mat-form-field class="field">
        <mat-label class="label">Your E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label class="label">Password</mat-label>
        <input matInput  type='password' formControlName="password">
      </mat-form-field>
      <span >
        {{errorMessage}}
      </span>
    </form>
  </mat-card-content>
    <div class="button">
        <button mat-button (click)="login()">Login</button>
    </div>
    <div class="button2">
        <button mat-button (click)="register()">Register</button>
    </div>
  </mat-card> 
  </div>
  </body>